# Python / Backend
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/
dist/
build/

chroma_db/
uploads/

# Vue / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testes / Coverage
.coverage
htmlcov/
.pytest_cache/