@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

link[rel="icon"] {
  border-radius: 50%;
}

link[rel="apple-touch-icon"] {
  border-radius: 25%;
}